
    {
        margin: 0;
    padding: 0;
box-sizing: border-box;
font-family:sans-serif ,'poppins';

}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container h1{
    color: orangered;
    margin-left: 10px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    padding: 18px;
    text-transform: uppercase;
}
.navbar ul li a{
    text-decoration: none;
    color:rgb(25, 21, 21);
    padding: 4px;
    transition: 3.5s;
}
.navbar ul li a:hover{
    box-shadow: 0 3px 50px orangered inset,
    0 3px 50px orangered inset,0 3px 50px orangered inset;

}
.navbar .reservation{
    padding 8px;
    background-color: orangered;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img2.jpg);
     background size: cover;

}    
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;

}
.contact .content p{
    font-weight: 300;
    color:#fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contact .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;

}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;

}
.contactform {
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding:5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{

    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20PX);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
@media(max-width:991px)
{
    .contact
    {
        padding: 50px;
    }
   .container
 {
    flex-direction: column;
} 
.container
{
    flex-direction: column;
}
.container .contactinfo
{
    margin-bottom: 40px;
}
.container .contactinfo
{
    widt
}



